# author: @huongnhd
# email: huong.nhdh@gmail.com
# Ref https://www.digitalocean.com/community/tutorials/how-to-use-systemctl-to-manage-systemd-services-and-units
# http://www.raspberrypi-spy.co.uk/2015/10/how-to-autorun-a-python-script-on-boot-using-systemd/
# 1) sudo vim /lib/systemd/system/myscript.service
# 2) The content

[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/myscript.py

[Install]
WantedBy=multi-user.target

#3) sudo chmod 644 /lib/systemd/system/myscript.service
#4)Configure systemd
#sudo systemctl daemon-reload
#sudo systemctl enable myscript.service
#reboot and enjoy! ZZZ

